body {
    padding-top: 70px;
}

.btn.toggle .toggle-group label {
    font-size: 20px;
}

.toggle-handle {
    border-radius: 50%;
}

h1, h2, h3, h4 {
    font-family: 'Allerta Stencil';
}

.jumbotron {
    margin-top: 20px;
}

.intro {
    display: table;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    background: url(../images/headerimg.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer {
    background-color: #b4cad6;
    padding-top: 20px;
    border-top: 1px solid;
}

.intro .overlay {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+25,a5ff89+62,a5ff89+62,7db9e8+91&1+9,0+100 */
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 9%, rgba(30,87,153,0.82) 25%, rgba(165,255,137,0.42) 62%, rgba(125,185,232,0.1) 91%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 9%,rgba(30,87,153,0.82) 25%,rgba(165,255,137,0.42) 62%,rgba(125,185,232,0.1) 91%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 9%,rgba(30,87,153,0.82) 25%,rgba(165,255,137,0.42) 62%,rgba(125,185,232,0.1) 91%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

.intro h1 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #053740;
    font-family: 'Allerta Stencil';
}

.intro h2 {
    color: #000;
    font-family: 'Allerta Stencil';
}

.intro .brand {
    color: #053740;
    font-weight: 700;
    letter-spacing: 8px;
}

.intro-text {
    padding: 150px 0px;
}

select {
    padding: 8px;
    margin-top: 10px;
}

.table-responsive table {
    overflow-x: scroll;
}

@media screen and (max-width: 776px) {
    .btn {
        padding: 10px;
        border-radius: 50px;
        font-size: 14px;
    }

    .jumbotron {
        margin-top: 40px;
    }
}