@model ProjectFinalEMDAAdvanced.Models.Reasons

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="jumbotron">
        <h2>Details</h2>
    </div>

    <div>
        <h4>Reasons</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Reason)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Reason)
            </dd>
            <dt>
                Reason Count
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReasonCount)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
